<div id="tablist">
  <ngb-tabset id="tab">
    <ngb-tab title="Overview">
      <ng-template ngbTabContent>
          <div class="body">  
          
              <div id="one">
                
                Project Size : {{ con.projectSize }} <br/>
                Floors : 19 <br/>
                Locality : {{ con.Locality}}<br/>
                Posession Date : {{ con.possession_construction_status}}
              </div>

            </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>About Builder </ng-template>
      <ng-template ngbTabContent>
        <p>govt data</p>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="About Project" >
      <ng-template ngbTabContent>
        <p> govt data.</p>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  <!-- <button id="close" (click)="ngOnDestroy()">close</button> -->
</div>